<main style="height: 300px; overflow-y: scroll">
  <article style="margin-top: 50vh">
    <h1>
      <%= @post.title %>
      (<%= pluralize(@post.likes.count, "like") %>)
    </h1>

    <p>
      <%= @post.content %>
    </p>

    <%= render partial: "likes/like", locals: { user: Current.user, post: @post } %>
  </article>
</main>
