<main style="height: 300px; overflow-y: scroll">
  <article style="margin-top: 50vh">
    <%= render partial: "title", locals: { post: @post } %>

    <p>
      <%= @post.content %>
    </p>

    <%= render partial: "likes/like", locals: { user: Current.user, post: @post } %>
  </article>
</main>
